In [9]:
import pandas as pd

In [3]:
pd.__version__

'1.4.4'

In [13]:
df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows=100)

In [18]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [28]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [34]:
from sqlalchemy import create_engine
import psycopg2

In [36]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [37]:
engine.connect()

In [39]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine)) # this code pandas will try to execute

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [70]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [66]:
from time import time

In [71]:
for chunk in df_iter:
    st_time = time()
    
    chunk.tpep_pickup_datetime = pd.to_datetime(chunk.tpep_pickup_datetime)
    chunk.tpep_dropoff_datetime = pd.to_datetime(chunk.tpep_dropoff_datetime)
    
    chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    end_time = time()
    
    print('successfully ingested another %.0f rows of data for %.3f seconds' % (len(chunk), end_time-st_time))

successfully ingested another 100000 rows of data for   9 seconds
successfully ingested another 100000 rows of data for   9 seconds
successfully ingested another 100000 rows of data for   9 seconds
successfully ingested another 100000 rows of data for   9 seconds
successfully ingested another 100000 rows of data for   9 seconds
successfully ingested another 100000 rows of data for   9 seconds
successfully ingested another 100000 rows of data for   9 seconds
successfully ingested another 100000 rows of data for   9 seconds
successfully ingested another 100000 rows of data for   9 seconds
successfully ingested another 100000 rows of data for   9 seconds
successfully ingested another 100000 rows of data for   9 seconds
successfully ingested another 100000 rows of data for   9 seconds

/tmp/ipykernel_55473/916140424.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in df_iter:

successfully ingested another 100000 rows of data for   9 seconds
successfully ingested another 69765 rows of data for   6 seconds